<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Huckster — Melbourne.Delivered.</title>
<!-- CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="_css/normalize.css">
<link rel="stylesheet" type="text/css" href="_css/style.css">
<!-- FONTS -->
<link rel="stylesheet" href="_fonts/glober_light/stylesheet.css" type="text/css" charset="utf-8" />
<!-- SCRIPTS -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <header>

        <a href="/index-two.html"><div class="logo"></div></a>

    </header>
    
<section class="main-content">       
    <div ng-app="hucksterApp">
        <div class="container" ng-controller="OrderFormController">
            <div class="row rest">
                <div class="rest-bio">
                    <h2>Fonda Mexican</h2>
    
                    <p class="rest-text">
                        Founded in 2011 by David Youl and Tim McDonald, Fonda Mexican offers a unique take on the Mexican open kitchen.
                    </p>
    
                    <img src="_images/_fonda/MENU-2.jpg" />
                </div>
                <div class="col-md-6 rest-order" >
                    <h2>Order</h2>
                    <label>Delivery Time</label>
                    <select ng-model="order.DeliveryTime">
                            <option value="2015-11-02T18:30:00.0000000">06:30 PM</option>
                            <option value="2015-11-02T19:00:00.0000000">07:00 PM</option>
                            <option value="2015-11-02T19:30:00.0000000">07:30 PM</option>
                            <option value="2015-11-02T20:00:00.0000000">08:00 PM</option>
                            <option value="2015-11-02T20:30:00.0000000">08:30 PM</option>
                    </select>
    
                    <label>Delivery Suburb</label>
                    <select ng-model="order.DeliverySuburbId">
                            <option value="1">Caulfield South</option>
                    </select>
                    <ul>
                        <li ng-repeat="orderItem in OrderItems">
                            {{orderItem.Name}} : {{orderItem.Quantity}} x ${{orderItem.Price}} - ${{orderItem.Price * orderItem.Quantity}}
                        </li>
                    </ul>
                    <button class ="list-order" ng-click="placeOrder()">Place Order</button>
                    
                </div><!-- .rest-order -->
                <div class="clearfix"></div>
            </div>
    
            <div class="row rest rest-menu">
                    <div>
                        <h2>Lunch a la Carte</h2>
                    </div>
                        <p>
                            
                        </p>
                        <ul>
                                <li ng-click="addmenuItem('Duck relish, watermelon', 6, 1)">
                                    <div>Small Bites - Duck relish, watermelon </div>
                                    <p>
                                        
                                    </p>
                                    $ 6
                                </li>
                                <li ng-click="addmenuItem('Betel leaf, smashed prawn, coconut, chilli, lime leaf', 7, 1)">
                                    <div>Small Bites - Betel leaf, smashed prawn, coconut, chilli, lime leaf </div>
                                    <p>
                                        
                                    </p>
                                    $ 7
                                </li>
                                <li ng-click="addmenuItem('Local squid, malaysian sambal, pickled ginger', 19, 1)">
                                    <div>Small Bites - Local squid, malaysian sambal, pickled ginger </div>
                                    <p>
                                        
                                    </p>
                                    $ 19
                                </li>
                                <li ng-click="addmenuItem('Sticky chicken rib, cumin, fennel, coriander', 3, 1)">
                                    <div>Small Bites - Sticky chicken rib, cumin, fennel, coriander </div>
                                    <p>
                                        
                                    </p>
                                    $ 3
                                </li>
                                <li ng-click="addmenuItem('Citrus-cured snapper, pomelo, coconut, crispy wontons', 21, 1)">
                                    <div>Small Bites - Citrus-cured snapper, pomelo, coconut, crispy wontons </div>
                                    <p>
                                        
                                    </p>
                                    $ 21
                                </li>
                                <li ng-click="addmenuItem('Twice cooked crispy lamb ribs, chilli jam', 19, 1)">
                                    <div>Small Bites - Twice cooked crispy lamb ribs, chilli jam </div>
                                    <p>
                                        
                                    </p>
                                    $ 19
                                </li>
                                <li ng-click="addmenuItem('Sweet corn &amp; green onion fritters, iceberg, herb salad sweet chilli', 18, 1)">
                                    <div>Small Bites - Sweet corn &amp; green onion fritters, iceberg, herb salad sweet chilli </div>
                                    <p>
                                        
                                    </p>
                                    $ 18
                                </li>
                                <li ng-click="addmenuItem('Fried barramundi salad, watermelon, mint, shallots, red nam jim', 36, 1)">
                                    <div>Large Plates - Fried barramundi salad, watermelon, mint, shallots, red nam jim </div>
                                    <p>
                                        
                                    </p>
                                    $ 36
                                </li>
                                <li ng-click="addmenuItem('Pickled tea leaf salad, sesame, peanuts, tomato, wombokm', 34, 1)">
                                    <div>Large Plates - Pickled tea leaf salad, sesame, peanuts, tomato, wombokm </div>
                                    <p>
                                        
                                    </p>
                                    $ 34
                                </li>
                                <li ng-click="addmenuItem('Eggplant ma po, tofu, Szechuan, spring onion', 30, 1)">
                                    <div>Large Plates - Eggplant ma po, tofu, Szechuan, spring onion </div>
                                    <p>
                                        
                                    </p>
                                    $ 30
                                </li>
                                <li ng-click="addmenuItem('Local fried sea bream, yellow curry, capsicum, gailan', 36, 1)">
                                    <div>Large Plates - Local fried sea bream, yellow curry, capsicum, gailan </div>
                                    <p>
                                        
                                    </p>
                                    $ 36
                                </li>
                                <li ng-click="addmenuItem('Braised ox cheek, Southern Thai curry, sweet potato, carrot', 36, 1)">
                                    <div>Large Plates - Braised ox cheek, Southern Thai curry, sweet potato, carrot </div>
                                    <p>
                                        
                                    </p>
                                    $ 36
                                </li>
                                <li ng-click="addmenuItem('Pork belly, apple slaw, chilli caramel, black vinegar', 37, 1)">
                                    <div>Large Plates - Pork belly, apple slaw, chilli caramel, black vinegar </div>
                                    <p>
                                        
                                    </p>
                                    $ 37
                                </li>
                                <li ng-click="addmenuItem('Sri lankan beetroot curry', 34, 1)">
                                    <div>Large Plates - Sri lankan beetroot curry </div>
                                    <p>
                                        
                                    </p>
                                    $ 34
                                </li>
                                <li ng-click="addmenuItem('Steamed Jasmine Rice', 2, 1)">
                                    <div>Large Plates - Steamed Jasmine Rice </div>
                                    <p>
                                        
                                    </p>
                                    $ 2
                                </li>
                        </ul>
            </div>
    
        </div>
    </div>
</section><!-- end main-content -->
    

<script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

<script src="/bundles/angularJs?v=hHe2GdlwLk5ynM_Qs8mjowyh38RrFrklrknJUKWWrHU1"></script>

<script src="/bundles/core?v=ugPiBgPaZZOG_HL3NP4rx85Sd8qYd8VR_Pi5IFidxXM1"></script>

<script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>


</body>
</html>
