<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://admin-huckster.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>admin-huckster.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>admin-huckster</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$admin-huckster</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BootleggerSql" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Admin.Models.ApplicationDbContext, Admin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=huckster;AccountKey=rXk079HTfzNnIFrKwQVYhiFwXyNwkTPhcAVfe/pbdDArYjoMY0nXL+gaAIMdlS1efdFe2Xxmu1lnS8OOMGQo7Q==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=huckster;AccountKey=rXk079HTfzNnIFrKwQVYhiFwXyNwkTPhcAVfe/pbdDArYjoMY0nXL+gaAIMdlS1efdFe2Xxmu1lnS8OOMGQo7Q==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BootleggerSql-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>