@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layoutHome.cshtml";
}

<header class="header-home">

    <div class="logo-home"></div>
    <div class="logo-type"></div>

</header>

<div class="front-image"></div>

<section class="main-content" id="home-main-content">

    <div class="white-line"></div>

    <form id="huckstart">

        <a href="@Url.Action("Detail", "Restaurant", new {id = 4})">Get Food</a>
        

    </form>

    <div class="white-line" id="home-line-bottom"></div>

</section>

<section class="full-width" id="home-sub-content">

    <div class="main-content sub-content">

        <div class="sub-content-button" id="restaurants-wanted">
            <h3>Restaurants,<br /> become a partner</h3>
            <a class="join" href="@Url.Action("Index", "Enquiry", new {subject = "Become a Partner"})">Enquire</a>
        </div>

        <div class="sub-content-button" id="riders-wanted">
            <h3>Ride or drive,<br />become a huckster</h3>
            <a class="join" href="@Url.Action("Index", "Enquiry", new {subject = "Become a Huckster"})">Enquire</a>
        </div>

        <div class="clearfix"></div>

    </div>

</section>