@using Newtonsoft.Json
@model Domain.Order.Queries.Models.OrderDetailsViewModel

@{
    ViewBag.Title = "Checkout";
}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>


<header class="main-content main-bar">
    <div class="container">
        <a href="#">
            <div class="logo"></div>
        </a>

        <div></div>
    </div>
</header>

<div ng-app="hucksterApp">
    <div ng-controller="CheckoutController">
        @{
            var orderJSON = JsonConvert.SerializeObject(Model);
        }
        <input id="orderData" type="hidden" value="@orderJSON"/>
        <section class="main-content main-bar-main" id="step-one">

            <div class="main-content-header">
                <h2>Confirm Details</h2>
            </div>

            <div class="main-content-info">

                <form name="deliverDetailsForm" class="checkout-form" id="one" method="post" action="/checkout" name="checkout" novalidate>
                    <!-- replace action with script page that handles submit -->

                    <h4 class="bold checkout-h4">1. Delivery Details</h4>

                    @*<div class="main-content-info-row">

                            <h5 class="checkout-h5">Delivery Time</h5>

                            <select class="select-order confirm-order" ng-model="order.DeliveryTime" name="date">
                                <option value="2015-11-02T18:30:00.0000000">Tue 1 Dec</option>
                                <option value="2015-11-02T19:00:00.0000000">Wed 2 Dec</option>
                                <option value="2015-11-02T19:30:00.0000000">Thu 3 Dec</option>
                                <option value="2015-11-02T20:00:00.0000000">Fri 4 Dec</option>
                                <option value="2015-11-02T20:30:00.0000000">Sat 5 Dec</option>
                            </select>

                            <select class="select-order confirm-order" name="time">
                                <option value="2015-11-02T18:30:00.0000000">06:30 PM</option>
                                <option value="2015-11-02T19:00:00.0000000">07:00 PM</option>
                                <option value="2015-11-02T19:30:00.0000000">07:30 PM</option>
                                <option value="2015-11-02T20:00:00.0000000">08:00 PM</option>
                                <option value="2015-11-02T20:30:00.0000000">08:30 PM</option>
                            </select>

                        </div>*@<!-- .main-content-info-row -->

                    <div class="main-content-info-row">

                        <h5 class="checkout-h5">Delivery Address</h5>
                        <div class="form-row">
                            <div class="form-column default-length">
                                <input ng-class="{'input-error': deliveryDetailsSubmitted && deliverDetailsForm.address.$invalid}" class="checkout-input" type="text" placeholder="Your address..." required name="address" id="address" ng-model="deliveryDetails.Street"/>
                                <span class="error" ng-show="deliveryDetailsSubmitted && deliverDetailsForm.address.$invalid">Required</span>
                            </div>

                            <div class="form-column small-length">
                                <input ng-class="{'input-error': deliveryDetailsSubmitted && deliverDetailsForm.streetnumber.$invalid}" class="checkout-input" type="text" placeholder="No." name="streetnumber" id="street-number" ng-model="deliveryDetails.Number" required/>
                                <span class="error" ng-show="deliveryDetailsSubmitted && deliverDetailsForm.streetnumber.$invalid">Required</span>
                            </div>


                        </div>

                        <div class="form-row flex-row">
                            <div class="form-column middle-length">
                                <input readonly="readonly" class="checkout-input" type="text" placeholder="State" required name="state" id="state" ng-model="deliveryDetails.State"/>
                            </div>

                            <div class="form-column middle-length end-margin">
                                <input readonly="readonly" class="checkout-input" type="text" placeholder="suburb" name="suburb" required id="suburb" ng-model="deliveryDetails.Suburb"/>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    <input type="hidden" ng-model="deliveryDetails.Postcode"/>

                        <div class="form-row large-length">
                                <input class="checkout-input" type="text" placeholder="(Optional) Company" name="company" id="company" ng-model="deliveryDetails.CompanyName" />
                            </div>

                            <div class="form-row">
                                <textarea class="delivery-instructions" placeholder="(Optional) Delivery Instructions" name="delivery-instructions" id="delivery-instructions" ng-model="deliveryDetails.Instructions"></textarea>
                            </div>
                        <div class="loader" ng-class="{loading: orderDeliveryLoader}" id="rest-order-loader"></div>
                    </div><!-- .main-content-info-row -->

                    <div class="main-content-info-row">

                        <div class="main-content-info-row-confirm-button">

                            <button class="checkout-continue-btn" id="chkBtnOne" type="button" ng-click="setDeliveryDetails();">Continue</button>
                            

                        </div>

                    </div><!-- .main-content-info-row -->
                    <div class="main-content-info-row" ng-show="serverErrorDelivery">
                        <br/>
                        <span class="error error-checkout">We're sorry an error occurred while processing your order.</span>
                    </div>
                        
            </form><!-- #one -->

            </div><!-- .main-content-info -->

        </section><!-- .main-content -->

        <section class="main-content main-bar-main section-line unstep" id="step-two">

            <div class="main-content-info">

                <form class="checkout-form" id="two" method="post" action="/checkout" name="checkoutTwo">
                    <!-- replace action with script page that handles submit -->

                    <h4 class="bold checkout-h4">2. Personal Details</h4>

                    <div class="main-content-info-row">

                        <div class="form-row flex-row">

                            <div class="form-column middle-length">
                                <input ng-class="{'input-error': personalDetailsSubmitted && checkoutTwo.firstname.$invalid}" class="checkout-input" type="text" placeholder="First Name" name="firstname" required id="first-name" ng-model="personalDetails.FirstName"/>
                                <span class="error" ng-show="personalDetailsSubmitted && checkoutTwo.firstname.$invalid">Required</span>
                            </div>

                            <div class="form-column middle-length end-margin">
                                <input ng-class="{'input-error': personalDetailsSubmitted && checkoutTwo.lastname.$invalid}" class="checkout-input" type="text" placeholder="Last Name" name="lastname" required id="last-name" ng-model="personalDetails.LastName"/>
                                <span class="error" ng-show="personalDetailsSubmitted && checkoutTwo.lastname.$invalid">Required</span>
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="form-row flex-row">

                            <div class="form-column middle-length">
                                <input ng-class="{'input-error': personalDetailsSubmitted && checkoutTwo.email.$invalid}" class="checkout-input" type="email" placeholder="Email" name="email" id="email" ng-model="personalDetails.Email" required/>
                                <span class="error" ng-show="personalDetailsSubmitted && checkoutTwo.email.$error.required">Required</span>
                                <span class="error" ng-show="personalDetailsSubmitted && checkoutTwo.email.$error.email">Not valid email!</span>
                            </div>

                            <div class="form-column middle-length end-margin">
                                <input ng-class="{'input-error': personalDetailsSubmitted && checkoutTwo.mobile.$invalid}" ng-pattern="/^\d{9,10}(\.\d{9,10})?$/" class="checkout-input" type="text" placeholder="Mobile Number" name="mobile" id="mobile-name" ng-model="personalDetails.Mobile" required/>
                                <span class="error" ng-show="personalDetailsSubmitted && checkoutTwo.mobile.$error.required">Required</span>
                                <span class="error" ng-show="personalDetailsSubmitted && !checkoutTwo.mobile.$error.required && checkoutTwo.mobile.$invalid">Not Valid Mobile Phone</span>
                            </div>
                            <div class="loader" ng-class="{loading: orderDetailsLoader}" id="rest-Detail-loader"></div>
                            <div class="clearfix"></div>

                        </div>


                    </div><!-- .main-content-info-row -->

                    <div class="main-content-info-row">

                        <div class="main-content-info-row-confirm-button">

                            <button class="checkout-continue-btn" id="chkBtnTwo" type="button" ng-click="setPersonalDetails();">Continue</button>
                            

                        </div>

                    </div><!-- .main-content-info-row -->

                    <div class="main-content-info-row" ng-show="serverErrorPersonal">
                        <br />
                        <span class="error error-checkout">We're sorry an error occurred while processing your order.</span>
                    </div>
                </form><!-- two -->





            </div><!-- .main-content-info -->

        </section><!-- .main-content -->

        <section class="main-content main-bar-main section-payment unstep" id="step-three">

            <div class="main-content-header header-top-line">
                <h2>Payment Details</h2>
            </div>

            <div class="main-content-info">
                <form class="checkout-form" method="post" action="" name="paymentForm">
                    <!-- replace action with script page that handles submit -->

                    <h4 class="bold checkout-h4">3. Payment</h4>

                    <div class="main-content-info-row">
                        <a href="javascript:void(0);" ng-click="paypalPayment();">
                            <div class="checkout-btn" id="paypal-btn">
                                <i class="fa fa-paypal"></i>
                                <p>Paypal</p>
                            </div>
                        </a>

                        
                            <a href="javascript:void(0);" ng-click="showCC();">
                                <div class="checkout-btn end-margin">
                                    <i class="fa fa-cc-amex"></i>
                                    <i class="fa fa-cc-mastercard"></i>
                                    <i class="fa fa-cc-visa"></i>
                                    <div class="clearfix"></div>
                                    <p>Credit Card</p>
                                </div>
                            </a>
                        <div class="loader" ng-class="{loading: orderPaypalLoader}" id="rest-paypal-loader"></div>
                            <div ng-show="paymentCC">
                                <div class="main-content-info-row">
                                    <div class="form-column large-length">
                                        <input ng-class="{'input-error': paymentDetailsSubmitted && paymentForm.cardnumber.$invalid}" class="checkout-input large-input" type="text" placeholder="Card Number" name="cardnumber" required id="card-number" ng-model="creditCard.number" />
                                        <span class="error" ng-show="paymentDetailsSubmitted && paymentForm.cardnumber.$invalid">Required</span>
                                    </div>
                                </div>

                                <div class="form-row flex-row">

                                    <div class="form-column middle-length">
                                        <input ng-class="{'input-error': paymentDetailsSubmitted && paymentForm.cardexpiryYear.$invalid}" class="checkout-input" type="text" placeholder="YYYY" name="cardexpiryYear" required id="card-expiry-year" ng-model="creditCard.expiryYear" />
                                        <span class="error" ng-show="paymentDetailsSubmitted && paymentForm.cardexpiryYear.$invalid">Required</span>
                                    </div>

                                    <div class="form-column middle-length end-margin">
                                        <input ng-class="{'input-error': paymentDetailsSubmitted && paymentForm.cardexpiryMonth.$invalid}" class="checkout-input" type="text" placeholder="MM" name="cardexpiryMonth" required id="card-expiry-month" ng-model="creditCard.expiryMonth" />
                                        <span class="error" ng-show="paymentDetailsSubmitted && paymentForm.cardexpiryMonth.$invalid">Required</span>
                                    </div>

                                    <div class="form-column middle-length">
                                        <input ng-class="{'input-error': paymentDetailsSubmitted && paymentForm.cardcvc.$invalid}" class="checkout-input" type="text" placeholder="CVC" name="cardcvc" required id="card-cvc" ng-model="creditCard.cvc" />
                                        <span class="error" ng-show="paymentDetailsSubmitted && paymentForm.cardcvc.$invalid">Required</span>
                                    </div>
                                    <div class="loader" ng-class="{loading: orderCCLoader}" id="rest-cc-loader"></div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="main-content-info-row">

                                    <div class="main-content-info-row-confirm-button">

                                        <button class="checkout-continue-btn" id="chkBtnThree" type="button" ng-click="getStripeToken();">Confirm</button>
                                        

                                    </div>

                                </div>
                            </div>

                        </div>


                    
                    <div class="main-content-info-row" ng-show="serverErrorPayment">
                        <br />
                        <span class="error error-checkout">We're sorry an error occurred while processing your order.</span>
                    </div>
                </form>
            </div>

        </section><!-- .main-content -->

        <section class="out-content">

            <div class="out-content-inner">
                <div class="out-header">
                    <h2>Order</h2>
                </div>
                <div class="order-main">

                    <label>Your Order</label>
                    <table>

                        <tbody>

                            <tr class="order-item" ng-repeat="orderItem in orderData.Order.OrderItems">


                                <td class="order-item-quantity">
                                    {{orderItem.Quantity}} x
                                </td>
                                <td class="order-item-description">{{orderItem.Name}}</td>
                                <td class="order-item-price">
                                    ${{orderItem.Price * orderItem.Quantity}}
                                </td>


                            </tr>

                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="2">Subtotal</td>
                                <td>${{subTotal()}}</td>
                            </tr>
                            <tr class="dfee">
                                <td colspan="2">Delivery Fee</td>
                                <td>${{deliveryFee}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>${{total()}}</td>
                            </tr>

                        </tfoot>

                    </table>
                </div><!-- .order-main -->
            </div>
        </section><!-- end out-content -->
    </div>
</div>