@model Domain.Order.Queries.Models.OrderDetailsViewModel

@{
    ViewBag.Title = "Order Complete";
}

<section class="main-content main-bar-main" id="step-one">

    <div class="main-content-header">
        <h2>Success</h2>
    </div>

    <div class="main-content-info">

        <div class="main-content-info-row">
            <div class="block-text">Thank you! Your order has successfully been received. </div>
            <div class="inline-text">You will receive a confirmation email. Your reference number is:</div>
            <div class="ref-number">@Model.Order.Id</div>
        </div>

    </div><!-- .main-content-info -->

</section><!-- .main-content -->


<section class="out-content">

    <div class="out-content-inner">
        <div class="out-header">
            <h2>Order</h2>
        </div>
        <div class="order-main">

            <label>Your Order</label>
            <table>

                <tbody>

                    @foreach (var item in Model.Order.OrderItems)
                    {
                        <tr ng-repeat="orderItem in OrderItems">


                            <td class="order-item-quantity">
                                @item.Quantity x
                            </td>
                            <td class="order-item-description">@item.Name</td>
                            <td class="order-item-price">
                                $@item.Price
                            </td>


                        </tr>
                    }


                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2">Subtotal</td>
                        <td>$@Model.Order.OrderItems.Sum(_ => _.Quantity*_.Price)</td>
                    </tr>
                    <tr class="dfee">
                        <td colspan="2">Delivery Fee</td>
                        <td>$@Model.Restaurant.DeliveryFee</td>
                    </tr>
                    <tr>
                        <td colspan="2">Total</td>
                        <td>$@(Model.Order.OrderItems.Sum(_ => _.Quantity * _.Price) + @Model.Restaurant.DeliveryFee)</td>
                    </tr>

                </tfoot>

            </table>
        </div><!-- .order-main -->
    </div>
</section><!-- end out-content -->