@model dynamic

@{
    ViewBag.Title = "title";
}

<div>
    <div class="main-content-header">
        <h2>Enquiry Complete</h2>
    </div>
    <section class="main-content main-bar-main">
        <p>Thank you for your enquiry, we will get back to you as soon as we can!</p>
    </section>
</div>