@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Huckster Restaurant Portal</h1>
    <p class="lead">Manage your Restaurants Huckster orders.</p>
</div>

<div class="row">

</div>