<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hucksterlive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hucksterlive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hucksterlive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hucksterlive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureWebJobsStorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=huckster;AccountKey=rXk079HTfzNnIFrKwQVYhiFwXyNwkTPhcAVfe/pbdDArYjoMY0nXL+gaAIMdlS1efdFe2Xxmu1lnS8OOMGQo7Q==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=huckster;AccountKey=rXk079HTfzNnIFrKwQVYhiFwXyNwkTPhcAVfe/pbdDArYjoMY0nXL+gaAIMdlS1efdFe2Xxmu1lnS8OOMGQo7Q==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BootleggerSql" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:kqxeh7amfj.database.windows.net,1433;Initial Catalog=huckster;Integrated Security=False;User ID=huckster@kqxeh7amfj;Password=huckSQLpwd123;Connect Timeout=30;Encrypt=True" Name="data source=tcp:kqxeh7amfj.database.windows.net,1433;Database=huckster;User ID=huckster@kqxeh7amfj;Password=huckSQLpwd123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=Bootlegger;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BootleggerSql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=.\SQLEXPRESS;Initial Catalog=Bootlegger;Integrated Security=True;MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BootleggerSql-Web.config Connection String">
      <ParameterValue>data source=tcp:kqxeh7amfj.database.windows.net,1433;database=huckster;user id=huckster@kqxeh7amfj;password=huckSQLpwd123;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=true</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>