<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://huckster.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>huckster.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>huckster</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$huckster</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="tcp:jo5bad3j1k.database.windows.net,1433;Database=huckster;User ID=huckster@jo5bad3j1k;Password=huckySQLpwd123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebSite.Models.ApplicationDbContext, WebSite" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BootleggerSql" Order="2" Enabled="False">
          <Destination Path="tcp:jo5bad3j1k.database.windows.net,1433;Database=huckster;User ID=huckster@jo5bad3j1k;Password=huckySQLpwd123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=Bootlegger;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BootleggerSql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=.\SQLEXPRESS;Initial Catalog=Bootlegger;Integrated Security=True;MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=huckster;AccountKey=rXk079HTfzNnIFrKwQVYhiFwXyNwkTPhcAVfe/pbdDArYjoMY0nXL+gaAIMdlS1efdFe2Xxmu1lnS8OOMGQo7Q==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=huckster;AccountKey=rXk079HTfzNnIFrKwQVYhiFwXyNwkTPhcAVfe/pbdDArYjoMY0nXL+gaAIMdlS1efdFe2Xxmu1lnS8OOMGQo7Q==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BootleggerSql-Web.config Connection String">
      <ParameterValue>tcp:jo5bad3j1k.database.windows.net,1433;database=huckster;user id=huckster@jo5bad3j1k;password=huckySQLpwd123;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>tcp:jo5bad3j1k.database.windows.net,1433;Database=huckster;User ID=huckster@jo5bad3j1k;Password=huckySQLpwd123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>