<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Huckster — Melbourne.Delivered.</title>
<!-- CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="_css/normalize.css">
<link rel="stylesheet" type="text/css" href="_css/style.css">
<!-- FONTS -->
<link rel="stylesheet" href="_fonts/glober_light/stylesheet.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="_fonts/Glober Regular/stylesheet.css">
<link rel="stylesheet" type="text/css" href="_fonts/Glober Heavy/stylesheet.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="_js/ui-main.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <header class="main-content main-bar">
		<div class="container">
        	<a href="#">
            	<div class="logo"></div>
            </a>
            
			 <div></div>
        </div>    
    </header>
    
    <section class="main-content main-bar-main">       
        <div ng-app="hucksterApp">
            <div class="container" ng-controller="OrderFormController">
                <div class="row rest">
                    <div class="rest-bio">
                        
                        <div class="rest-info">
                                <h2>Fonda Mexican</h2>
                
                                <p class="rest-text">
                                    Founded in 2011 by David Youl and Tim McDonald, Fonda Mexican offers a unique take on the Mexican open kitchen.
                                </p>
        				</div>
                        
                        <img src="_images/_fonda/MENU-2.jpg" alt="Fonda"/>
                        
                    </div>
                    
                   
                </div>
        
        		<div class="mobile-lines"></div>
        
                <div class="row rest rest-menu">
                        <div>
                            <h2>Lunch a la Carte</h2>
                        </div>
                            <p>
                                
                            </p>
                            
                            <form class="rest-menu-form">
                            <ul>
                                    <li ng-click="addmenuItem('Duck relish, watermelon', 6, 1)">
                                    
                                    	
                                        <div class="list-description">Small Bites - Duck relish, watermelon </div>
                                        
                                        
                                        <div class="list-price">$ 6</div>
                                       
                                        <div class="list-add"><button></button></div>
                                        
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Betel leaf, smashed prawn, coconut, chilli, lime leaf', 7, 1)">
                                    
                                        <div class="list-description">Small Bites - Betel leaf, smashed prawn, coconut, chilli, lime leaf </div>
                                        <div class="list-price">$ 7</div>
                                        <div class="list-add"><button></button></div>
                                        
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Local squid, malaysian sambal, pickled ginger', 19, 1)">
                                    
                                         <div class="list-description">Small Bites - Local squid, malaysian sambal, pickled ginger </div>
                                         <div class="list-price">$ 19</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Sticky chicken rib, cumin, fennel, coriander', 3, 1)">
                                          
                                         <div class="list-description">Small Bites - Sticky chicken rib, cumin, fennel, coriander </div>
                                         <div class="list-price">$ 3</div>
                                          <div class="list-add"><button></button></div>
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Citrus-cured snapper, pomelo, coconut, crispy wontons', 21, 1)">
                                         <div class="list-description">Small Bites - Citrus-cured snapper, pomelo, coconut, crispy wontons </div>
                                         <div class="list-price">$ 21</div>
                                         <div class="list-add"><button></button></div>
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Twice cooked crispy lamb ribs, chilli jam', 19, 1)">
                                    
                                         <div class="list-description">Small Bites - Twice cooked crispy lamb ribs, chilli jam </div>
                                         <div class="list-price"> $ 19</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Sweet corn &amp; green onion fritters, iceberg, herb salad sweet chilli', 18, 1)">
                                    
                                         <div class="list-description">Small Bites - Sweet corn &amp; green onion fritters, iceberg, herb salad sweet chilli </div>
                                         <div class="list-price">$ 18</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Fried barramundi salad, watermelon, mint, shallots, red nam jim', 36, 1)">
                                    
                                         <div class="list-description">Large Plates - Fried barramundi salad, watermelon, mint, shallots, red nam jim </div>
                                         <div class="list-price">$ 36</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Pickled tea leaf salad, sesame, peanuts, tomato, wombokm', 34, 1)">
                                    
                                         <div class="list-description">Large Plates - Pickled tea leaf salad, sesame, peanuts, tomato, wombokm </div>
                                         <div class="list-price">$ 34</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Eggplant ma po, tofu, Szechuan, spring onion', 30, 1)">
                                    
                                         <div class="list-description">Large Plates - Eggplant ma po, tofu, Szechuan, spring onion </div>
                                         <div class="list-price">$ 30</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Local fried sea bream, yellow curry, capsicum, gailan', 36, 1)">
                                    
                                         <div class="list-description">Large Plates - Local fried sea bream, yellow curry, capsicum, gailan </div>
                                         <div class="list-price">$ 36</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Braised ox cheek, Southern Thai curry, sweet potato, carrot', 36, 1)">
                                    
                                         <div class="list-description">Large Plates - Braised ox cheek, Southern Thai curry, sweet potato, carrot </div>
                                         <div class="list-price">$ 36</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Pork belly, apple slaw, chilli caramel, black vinegar', 37, 1)">
                                         
                                         <div class="list-description">Large Plates - Pork belly, apple slaw, chilli caramel, black vinegar </div>
                                         <div class="list-price">$ 37</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    
                                    <li ng-click="addmenuItem('Sri lankan beetroot curry', 34, 1)">
                                    
                                         <div class="list-description">Large Plates - Sri lankan beetroot curry </div>
                                         <div class="list-price">$ 34</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                                    <li ng-click="addmenuItem('Steamed Jasmine Rice', 2, 1)">
                                    
                                         <div class="list-description">Large Plates - Steamed Jasmine Rice </div>
                                         <div class="list-price">$ 2</div>
                                          <div class="list-add"><button></button></div>
                                         
                                    </li>
                            </ul>
                            </form><!-- .rest-menu-form -->
                </div>
        
            </div>
        </div>
    </section><!-- end main-content -->
    <section class="out-content">
    	<div class="col-md-6 out-content-inner" >
        				<div class="out-header">
                        	<h2>Order</h2>
                        </div>
                        <div class="order-main">
                            <label>Delivery Time</label>
                            <select class="select-order" ng-model="order.DeliveryTime">
                                    <option value="2015-11-02T18:30:00.0000000">06:30 PM</option>
                                    <option value="2015-11-02T19:00:00.0000000">07:00 PM</option>
                                    <option value="2015-11-02T19:30:00.0000000">07:30 PM</option>
                                    <option value="2015-11-02T20:00:00.0000000">08:00 PM</option>
                                    <option value="2015-11-02T20:30:00.0000000">08:30 PM</option>
                            </select>
                                        
                            <label>Delivery Suburb</label>
                            <select class="select-order" ng-model="order.DeliverySuburbId">
                                    <option value="1">Caulfield South</option>
                            </select>
                            
                            <label>Your Order</label>
                            <table>
                            
                            	<tbody>
                                
                                    <tr ng-repeat="orderItem in OrderItems">
                                    	
                                       
                                        <td class="order-item-quantity">
                                        2 x
                                        <div class="order-item-hover" >
                                        	<span class="order-item-add">+</span>
                                        	<span class="order-item-subtract">-</span>
                                        </div>
                                        </td>
                                        <td class="order-item-description">Small Bites - Duck relish, watermelon</td>
                                        <td class="order-item-price">
                                        $12
                                        	<div class="order-item-delete"><i class="fa fa-times-circle"></i></div>
                                        </td>
                                       
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td class="order-item-quantity">
                                        1 x
                                        <div class="order-item-hover" >
                                       	 	<span class="order-item-add">+</span>
                                        	<span class="order-item-subtract">-</span>
                                        </div>
                                        </td>
                                        <td class="order-item-description">Small Bites - Betel leaf, smashed prawn, coconut, chilli, lime leaf</td>
                                        <td class="order-item-price">
                                        $7
                                        	<div class="order-item-delete"><i class="fa fa-times-circle"></i></div>
                                        </td>
                                    	
                                    </tr>
                                    
                                    <tr>
                                    	
                                        <td class="order-item-quantity">
                                        1 x
                                        <div class="order-item-hover" >
                                        	<span class="order-item-add">+</span>
                                        	<span class="order-item-subtract">-</span>
                                        </div>
                                        </td>
                                        <td class="order-item-description">Large Plates - Local fried sea bream, yellow curry, capsicum, gailan</td>
                                        <td class="order-item-price">
                                        $36
                                        	 <div class="order-item-delete"><i class="fa fa-times-circle"></i></div>
                                        </td>
                                       
                                    </tr>
                                    
                                    <tr>
                                    	
                                        <td class="order-item-quantity">1 x
                                        <div class="order-item-hover" >
                                        	<span class="order-item-add">+</span>
                                        	<span class="order-item-subtract">-</span>
                                        </div>
                                        </td>
                                        <td class="order-item-description">Large Plates - Steamed Jasmine Rice</td>
                                        <td class="order-item-price">
                                        $2
                                        	 <div class="order-item-delete"><i class="fa fa-times-circle"></i></div>
                                        </td>
                                      
                                    </tr>
                                    
                            	</tbody>
                                
                                <tfoot>
                                	<tr>
                                    	<td colspan="2">Subtotal</td>
                                        <td>$57</td>
                                    </tr>
                                    <tr>
                                    	<td colspan="2">Minimum Order</td>
                                        <td>$20</td>
                                    </tr>
                                    <tr class="dfee">
                                    	<td colspan="2">Delivery Fee</td>
                                        <td>$5</td>
                                    </tr>
                                	<tr>
                                    	<td colspan="2">Total</td>
                                        <td>$62</td>
                                    </tr>
                                    
                                </tfoot>
                                
                            </table>
                            <button class ="list-order order-main-submit" ng-click="placeOrder()">Place Order</button>
                            <div class="loader" id="rest-order-loader" ></div>
                            
                            <span class="error error-order" ng-show="order.DeliveryTime==''"><i class="fa fa-times-circle"></i>Delivery Time is required</span>
                            <span class="error error-order" ng-show="order.DeliverySuburbId==''"><i class="fa fa-times-circle"></i>Delivery Suburb is required</span>
                            
                        </div><!-- order-main -->
                        
         </div><!-- .rest-order -->
         
    </section>
    




</body>
</html>
