@{
    Layout = "Layout.cshtml";
}

<p>
    Thanks for ordering with Huckster, your meal will be on its way to you soon.
</p>
<p>
    To confirm your order here are the following details:
</p>

<br />
<br />

<p>
    Order Confirmation Number @Model.OrderId
</p>
<p>
    Your Delivery Address @Model.Address
</p>
<p>
    Your Contact Number @Model.Mobile
</p>
<br />
<br />

<p>
    We’re constantly trying to improve the way we do things so if you’ve got any questions or feedback we’d love to hear them. Email us at XXX
</p>    
<p>
    Enjoy your meal!
</p>

<p>
    The Huckster Crew
</p>



